<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="600" height="490" id="cc_94A4C92A30388BAD9C33DC5901307461"><param name="movie" value="https://p.bokecc.com/flash/single/7EEB3B3ECA26F35D_94A4C92A30388BAD9C33DC5901307461_false_775C4B813AD66CB9_1/player.swf" /><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param value="transparent" name="wmode" /><embed src="https://p.bokecc.com/flash/single/7EEB3B3ECA26F35D_94A4C92A30388BAD9C33DC5901307461_false_775C4B813AD66CB9_1/player.swf" width="600" height="490" name="cc_94A4C92A30388BAD9C33DC5901307461" allowFullScreen="true" wmode="transparent" allowScriptAccess="always" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"/></object>
</body>
</html>